@import "tailwindcss";

@font-face {
  font-family: "KSK";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Kyal-Sin-Khant.ttf") format("truetype");
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  scrollbar-width: none; /* Firefox */
}
